
<section class="section">
    <div class="card">
        <div class="card-body">
            <table id="tbl" class="table " width="100%">
                <thead>
                    <tr>

                        <th>رقم الفاتورة</th>
                        <th>المخزن</th>
                        <th>تاريخ الفاتورة</th>
                        <th>اسم المشتري</th>
                        <th>عدد المنتجات بالفاتورة</th>
                        <th>تاريخ الإضافة</th>
                        <th>الحالة</th>
                        <th>العمليات</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</section>

