
<section class="section">
    <div class="card tableReport">
       @* <div class="card-header">
            <h4 class="card-title">قائمة المنتجات</h4>
        </div>*@
        @*<div class="card-body">
            <table id="tbl" class="table " width="100%">
                <thead class="tHeadData">
                   
                </thead>

            </table>
        </div>*@
    </div>
</section>

