
<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">قائمة المشتريات</h4>
        </div>
        <div class="card-body">
            <table id="tbl" class="table " width="100%">
                <thead>
                    <tr>  
                        <th>رقم الفاتورة</th>
                        <th>المخزن</th>
                        <th>تاريخ الفاتورة</th>
                        <th>اسم المورد</th>
                        <th>عدد المنتجات بالفاتورة</th>
                        <th>المبلغ الإحمالي</th>
                        <th>المبلغ المدفوع</th>
                        <th>تاريخ الإضافة</th>
                        <th>الحالة</th>
                        <th>العمليات</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</section>

