@{
    Layout = null;

}
@inject ERP_System.BLL.Guide.SettingBll _settingBll;
<!DOCTYPE html>
<html lang="ar" class="h-100" style="direction:rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>نسيت كلمة السر</title>
    <!-- Favicon icon -->
    <link rel="stylesheet" href="~/assets/css/main/app.css">
    <link rel="stylesheet" href="~/assets/css/pages/auth.css">
    <link rel="stylesheet" href="~/assets/extensions/sweetalert2/sweetalert2.min.css">




    <script src="~/assets/extensions/jquery/jquery.min.js"></script>
    <script src="~/assets/extensions/sweetalert2/sweetalert2.min.js"></script>

    <partial name="_Scripts" />
    <script>
        let mainAppUserId = '@ViewContext.HttpContext.UserId()'
    </script>

</head>

<body style="direction:rtl !important;">

    <main class="main" id="top">


        <div id="auth">

            <div class="row h-100">
                <div class="col-lg-5 col-12">
                    <div id="auth-left">
                        <div class="auth-logo">
                            @{
                                var setting = _settingBll.GetSetting();
                                if (setting != null)
                                {
                                    if (setting.Logo != null)
                                    {
                                        <div class="logo">
                                            <a href="/Home/Index"><img src="@setting.Logo" style="border-radius: 10px;" alt="Logo" srcset="" width="250" /></a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="logo">
                                            <a href="/Home/Index"><img src="~/assets/images/logo-removebg-preview.png" style="border-radius: 10px;" alt="Logo" srcset="" width="250" /></a>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="logo">
                                        <a href="/Home/Index"><img src="~/assets/images/logo-removebg-preview.png" style="border-radius: 10px;" alt="Logo" srcset="" width="250" /></a>
                                    </div>
                                }
                            }
                        </div>
                        <h1 class="auth-title">نسيت كلمة المرور</h1>
                        <p id="Text" class="auth-subtitle mb-5">اكتب عنوان بريدك الإلكتروني لإستعادة الحساب الخاص بك</p>

                        <div id="UserCode">
                            <form onsubmit="HandleSend()">
                                <div class="form-group position-relative has-icon-left mb-4">
                                    <input required type="email" name="Code" id="Code" class="form-control form-control-xl" placeholder="البريد الإلكتروني">
                                    <div class="form-control-icon">
                                        <i class="bi bi-envelope"></i>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary btn-block btn-lg shadow-lg mt-5" onclick="HandleSend()">إرسال</button>
                            </form>
                        </div>

                        <div id="EmailCode" style="display:none">

                            <form onsubmit="HandleSendCode()">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="Code">الكود<span style="color:red;"> * </span></label>
                                            <input class="form-control flex-3 mt-2" id="ECode" placeholder="الكود" />
                                        </div>
                                        <div class="col-12">
                                            <label for="Password">كلمة المرور<span style="color:red;"> * </span></label>
                                            <input class="form-control flex-3 mt-2 w-100" type="password" id="Password" placeholder="كلمة المرور" />
                                        </div>
                                        <div class="col-12">
                                            <label for="CPassword">تأكيد كلمة المرور<span style="color:red;"> * </span></label>
                                            <input class="form-control flex-3 mt-2 w-100" type="password" id="CPassword" placeholder="تأكيد كلمة المرور" />
                                        </div>
                                        <div class="col-8">
                                            <button class="btn btn-primary ms-2 px-3 mt-2" type="button" onclick="HandleSendCode()">
                                                ارسال
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn btn-outline-primary w-50 sectimerbtn" disabled onclick="ReSendCode()" type="button">
                                                <small id="SecTimer">60</small> ثانية لإعادة الإرسال
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="text-center mt-5 text-lg fs-4">
                            <p class='text-gray-600'>
                                هل تذكرت بياناتك؟ <a href="/Account/Login" class="font-bold">
                                    تسجيل الدخول
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <div id="auth-right">
                    </div>
                </div>
            </div>

        </div>

    </main>

</body>

</html>