@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="ar" class="h-100" style="direction:rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>نسيت كلمة السر</title>
    <!-- Favicon icon -->
    <link rel="stylesheet" href="~/assets/css/main/app.css">
    <link rel="stylesheet" href="~/assets/css/pages/auth.css">
    <script>
        /**
         * App Direction a global variable to entire application has rtl or ltr only
         * */
        let mainAppUserId = '@ViewContext.HttpContext.UserId()'
    </script>
  
</head>

<body style="direction:rtl !important;">

    <main class="main" id="top">

        @*<div class="col mx-auto">
            <div class="auth-form-box">
                <div class="text-center">
                    <h4 class="text-1000">نسيت كلمة السر؟</h4>
                    <p id="Text" class="text-700 mb-5">أدخل كود المستخدم أدناه وسنرسل لك <br class='d-none d-lg-block'>  كود إعادة تعيين</p>

                    <div id="UserCode">


                        <form action="JavaScript:HandleSend()" class="d-flex flex-wrap align-items-center mb-5">
                            <input class="form-control flex-1" name="Username" id="Code" placeholder="كود المستخدم" />
                            <button class="btn btn-primary ms-2 px-3" type="submit">
                                ارسال

                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="20" height="20" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M15 19a1 1 0 0 1-.71-.29l-6-6a1 1 0 0 1 0-1.41l6-6a1 1 0 0 1 1.41 1.41L10.41 12l5.29 5.29A1 1 0 0 1 15 19z" data-name="17" fill="white" data-original="#000000" class=""></path></g></svg>
                            </button>

                            <p class="w-100 fs-sm p-0 m-0 text-danger errortext dnone" id="ErrorMes1">برجاء ادخل كود المستخدم بشكل صحيح</p>


                        </form>

                    </div>
                    <div id="EmailCode" style="display:none">

                        <form action="JavaScript:HandleSendCode()" class="d-flex flex-wrap align-items-center mb-5">
                            <input class="form-control flex-3 mt-2" id="ECode" placeholder="كود" />
                            <input class="form-control flex-3 mt-2 w-100" type="password" id="Password" placeholder="كلمة المرور" />
                            <input class="form-control flex-3 mt-2 w-100" type="password" id="CPassword" placeholder="تأكيد كلمة المرور" />

                            <button class="btn btn-primary ms-2 px-3 mt-2" type="submit">
                                ارسال

                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="20" height="20" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M15 19a1 1 0 0 1-.71-.29l-6-6a1 1 0 0 1 0-1.41l6-6a1 1 0 0 1 1.41 1.41L10.41 12l5.29 5.29A1 1 0 0 1 15 19z" data-name="17" fill="white" data-original="#000000" class=""></path></g></svg>
                            </button>

                            <button class="w-100 sectimerbtn" disabled onclick="ReSendCode()" type="button">

                                <small id="SecTimer">60</small> ثانية لإعادة الإرسال
                            </button>

                            <p class="w-100 fs-sm p-0 m-0 text-danger errortext dnone" id="ErrorMes2"> تأكد من البيانات المدخلة</p>

                        </form>
                    </div>

                    <div id="NewPassword" style="display:none">
                        <form action="JavaScript:SetNewPassword()" class="d-flex flex-wrap align-items-center mb-5">
                            <input class="form-control flex-1 w-100" type="password" id="Password" placeholder="كلمة المرور" />
                            <input class="form-control flex-1 w-100" type="password" id="CPassword" placeholder="تأكيد كلمة المرور" />

                            <button class="btn btn-primary ms-2 px-3" type="submit">
                                ارسال

                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="20" height="20" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M15 19a1 1 0 0 1-.71-.29l-6-6a1 1 0 0 1 0-1.41l6-6a1 1 0 0 1 1.41 1.41L10.41 12l5.29 5.29A1 1 0 0 1 15 19z" data-name="17" fill="white" data-original="#000000" class=""></path></g></svg>
                            </button>



                            <p class="w-100 fs-sm p-0 m-0 text-danger errortext dnone" id="ErrorMes3">كلمه المرور غير متطابقه</p>
                            <p class="w-100 fs-sm p-0 m-0 text-danger errortext dnone" id="ErrorMes4">كلمه المرور غير صحيحة</p>

                        </form>
                    </div>


                </div>
            </div>
        </div>*@

        <div id="auth">

            <div class="row h-100">
                <div class="col-lg-5 col-12">
                    <div id="auth-left">
                        <div class="auth-logo">
                            <a href="index.html"><img src="assets/images/logo/logo.svg" alt="Logo"></a>
                        </div>
                        <h1 class="auth-title">نسيت كلمة المرور</h1>
                        <p class="auth-subtitle mb-5">اكتب عنوان بريدك الإلكتروني لإستعادة الحساب الخاص بك</p>

                        <form action="index.html">
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="email" class="form-control form-control-xl" placeholder="البريد الإلكتروني">
                                <div class="form-control-icon">
                                    <i class="bi bi-envelope"></i>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">إرسال</button>
                        </form>
                        <div class="text-center mt-5 text-lg fs-4">
                            <p class='text-gray-600'>
                                هل تذكرت بياناتك؟ <a href="#" class="font-bold">
                                    تسجيل الدخول
                                </a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <div id="auth-right">
                    </div>
                </div>
            </div>

        </div>

    </main>
   
    <script>
        var timer;
        let Min=60;
        function HandleStartTimer(){
            Min=60;
            $('.sectimerbtn').attr("disabled", "disabled");
             $('.sectimerbtn').html('');
            $('.sectimerbtn').html('<small id="SecTimer">60</small> ثانية لإعادة الإرسال');
      timer=setInterval(function () {
                        if (Min === 1) {
                            $('.sectimerbtn').removeAttr("disabled");
                            $('.sectimerbtn').html("إعادة إرسال");
                    $('.sectimerbtn').attr("onclick", "HandleStartTimer()");
                            clearInterval(timer);
                         }
                        Min = Min - 1;
                        $("#SecTimer").html(Min);
                     }, 1000);
        }
        function HandleSend() {
            var obj = new Object();
            let UserCode = $("#Code").val();
            obj["Username"] = UserCode;
            if (UserCode !== "" && UserCode.length >= 4) {
                $.post('@Url.GetAction("SendCode")', { 'para': obj }, function (res) {
                    console.log(res);
                    if (res.data.successed) {

                        $('#UserCode').fadeOut("slow", function () {
                            $('#UserCode').addClass('d-none');
                            $("#Text").html('تم للتو إرسال رسالة إلكترونية تحتوي على رمز تحقق إلى');
                            $('#EmailCode').fadeIn("slow", function () {

                                HandleStartTimer();
                            });
                        });

                }

            });
            }
            else{
                $("#ErrorMes1").fadeIn();
            }




        }
          function ReSendCode(){
            let UserId=$("#Code").val();

       console.log(UserId)



        }
        $("#Code").keyup(function(e){
            if(e.target.value.length<4){
                     $("#ErrorMes1").fadeIn();
            }
            else{
                    $("#ErrorMes1").fadeOut("slow",function(){
                    $("#ErrorMes1").addClass('dnone');
            });
            }
        })
            $("#ECode").keyup(function(e){
            if(e.target.value.length<4){
                     $("#ErrorMes2").fadeIn();
            }
            else{
                    $("#ErrorMes2").fadeOut("slow",function(){
                    $("#ErrorMes2").addClass('dnone');
            });
            }
        })
        function HandleSendCode(){
            let Code = $("#ECode").val();
            let Password = $("#Password").val();
            let CPassword = $("#CPassword").val();
            let UserCode = $("#Code").val();
            var obj = new Object();
            obj["Username"] = UserCode;
            obj["NewPassword"] = Password;
            obj["Code"] = Code;

            if (Code !== "" && Code.length >= 4 && Password.length >= 3 && Password === CPassword) {
                    $.post('@Url.GetAction("ForgetPassword")', { 'para': obj }, function (res) {
                    console.log(res);
                    if (res.data.successed) {

                        $('#UserCode').fadeOut("slow", function () {
                            $('#UserCode').addClass('d-none');
                            $("#Text").html('تم تغيير كلمة المرور بنجاح');
                            //$('#EmailCode').fadeIn("slow", function () {

                            //    HandleStartTimer();
                            //});
                            window.location.href = "/Account/login";

                        });

                }

            });
            //    $('#EmailCode').fadeOut("slow" ,function( ){
            //        $('#EmailCode').addClass('d-none');
            //        $("#Text").html('أدخل كلمة المرور الجديدة');
            //     $('#NewPassword').fadeIn("slow",function(){


            //     });
            //});

            }
            else{
                $("#ErrorMes2").fadeIn();
            }
        }
        function SetNewPassword(){
            let Password = $("#Password").val();
            let CPassword = $("#CPassword").val();
          if(Password.length>=8&&Password === CPassword){
                $("#ErrorMes3").fadeOut();
                 $("#ErrorMes4").fadeOut();
              console.log("Call API Here")
          }
            else  if (Password.length<8) {
                $("#ErrorMes3").fadeOut();
                  $("#ErrorMes4").fadeIn();
            }
           else if (Password !== CPassword ){
               $("#ErrorMes4").fadeOut();
                $("#ErrorMes3").fadeIn();

            }


        }
    </script>

</body>

</html>