@model ChangePasswordDTO


<form id="frmEdit" onsubmit="Submit()">


    <div class="row page-titles mx-0">
        <div class="col-12 p-0 m-0">
            <div class="d-flex  justify-content-between align-items-center">
                <h4 class="PageTitle">
                    تغيير كلمة المرور
                </h4>
                
            </div>
        </div>
        <div class="card">
            <input hidden name="id" id="id" value="" />
            <div class="card-body">


                <div class="form-group">
                    <label class="lable">كلمة المرور الحالية  </label>

                    <input id="OldPassword" required name="OldPassword" type="password" class="form-control " />
                    <span asp-validation-for="OldPassword"></span>

                </div>

                <div class="form-group">
                    <label class="lable">  كلمة المرور الجديدة  </label>

                    <input id="NewPassword" required name="NewPassword" type="password" class="form-control " />
                    <span asp-validation-for="NewPassword"></span>

                </div>

                <div class="form-group">
                    <label class="lable"> تاكيد كلمة المرور الجديدة  </label>

                    <input id="ConfirmNewPassword" required name="ConfirmNewPassword" type="password" class="form-control " />
                    <span asp-validation-for="ConfirmNewPassword"></span>

                </div>


            </div>
            <div class="d-flex justify-content-end align-items-center gap-2 p-4">

                <a class="SaveBtn" onclick="saveNewPass()">
                    <div class="btn btn-primary">
                        حفظ
                        <i class="far fa-save"></i>
                    </div>
                </a>


            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>

        function saveNewPass() {
            let frmEdit = $("#frmEdit");

            if ($('#OldPassword').val() == '' || $('#NewPassword').val() == '' || $('#ConfirmNewPassword').val() == '') {
                Swal.fire({
                    title: `من فضلك أدخل جميع الحقول`,
                    timer: 2000,
                    timerProgressBar: true,
                    icon: 'error',
                    showConfirmButton: false
                });
            } else if ($('#NewPassword').val() !== $('#ConfirmNewPassword').val()) {
                Swal.fire({
                    title: `تأكيد كلمة السر غير متطابق`,
                    timer: 2000,
                    timerProgressBar: true,
                    icon: 'error',
                    showConfirmButton: false
                });
            }
            else {
                $.post('@Url.GetAction("ChangeOldPassword")', frmEdit.serialize(), function (res) {
                    console.log(res);
                    if (res.Status) {
                        Swal.fire({
                            title: `تم تغيير كلمة المرور بنجاح`,
                            timer: 2000,
                            timerProgressBar: true,
                            icon: 'success',
                            showConfirmButton: false
                        });
                        window.location.href = "@Url.GetAction("Index")";
                    }
                    else {
                        Swal.fire({
                            title: `خطأ في تغيير كلمة المرور`,
                            timer: 2000,
                            timerProgressBar: true,
                            icon: 'error',
                            showConfirmButton: false
                        });
                    }
                });
            }
        }
    </script>
}