@{
    ViewData["Title"] = "Home Page";
}

<div class="form-group">
    <select class="choices form-select multiple-remove" multiple="multiple">
        <option placeholder>This is a placeholder</option>
        <optgroup label="Figures">
            <option value="romboid">Romboid</option>
            <option value="trapeze" >Trapeze</option>
            <option value="triangle">Triangle</option>
            <option value="polygon">Polygon</option>
        </optgroup>
        <optgroup label="Colors">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue" >Blue</option>
            <option value="purple">Purple</option>
        </optgroup>
    </select>
</div>