@{
    Layout = "_Layout";
}

@if (CurrentForm.CurrentFormPermissionActions.AddHasPermission)
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">إضافة وحدة</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal" id="frm" onsubmit="Submit()">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="Name">اسم الوحدة</label>
                                            <input hidden name="id" id="id" value="" class="d-none" />
                                            <input type="text" required id="Name" name="Name" class="form-control" placeholder="اسم الوحدة">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="lable" for="FocusTypeId">  نوع الوحده </label>
                                            <select class="Select sAddress form-select" aria-label="اختر النوع" required name="UnitType" id="ddlUnitType">
                                                <option selected value="0">أساسية</option>
                                                <option value="1">فرعية</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 parentDev d-none">
                                        <div class="form-group">
                                            <label class="lable" for="FocusTypeId">الوحده الأساسية</label>
                                            <select class="Select sAddress form-select" aria-label="اختر الوحدة" name="ParentUnitId" id="ParentUnitId">
                                                <option selected value="0">اختر الوحدة الأساسية</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex">
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <input type="checkbox" name="IsActive" id="IsActive" value="true" class="form-check-input" checked>
                                                <label for="IsActive">الحاله</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-between mt-5">
                                        <button type="button" class="btn btn-primary me-1 mb-1" onclick="Submit()">
                                            حفظ
                                        </button>

                                        @if (CurrentForm.CurrentFormPermissionActions.ShowHasPermission)
                                        {
                                            <div class="mb-3 d-flex align-items-center justify-content-end ps-2">
                                                <a class="btn btn-outline-primary" href="/Guide/Unit/Index">
                                                    رجوع للقائمة
                                                    <span class="fa-arrow-left fas"></span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
    {

    <partial name="_Scripts" />
}
