<div class="row">

    <div class="col-xl-12">
       
            <div class="row">

                <table id="tbl" class="table " width="100%">
                    <thead>
                        <tr>
                            <th>الاسم</th>
                            <th>الحالة</th>
                            <th>العمليات</th>
                        </tr>
                    </thead>

                </table>
        </div>
    </div>
</div>

