
<section class="section">
    <div class="card">
        <div class="card-body">
            <table id="tbl" class="table " width="100%">
                <thead>
                    <tr>
                        <th>الاسم</th>
                        <th>الحالة</th>
                        <th>العمليات</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</section>

