@{
    Layout = "_Layout";
}
@model ERP_System.Tables.ItemGrpoup;
@if (CurrentForm.CurrentFormPermissionActions.EditHasPermission)
{
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">إضافة مجموعة</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal" id="frm" onsubmit="Submit()">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="Name">اسم المجموعة</label>
                                            <input hidden name="id" id="id" value="@Model.ID" class="d-none" />
                                            <input type="text" required id="Name" name="Name" value="@Model.Name" class="form-control" placeholder="اسم المجموعة" >
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex">
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <input type="checkbox" name="IsActive" checked="@Model.IsActive" id="IsActive" class="form-check-input">
                                                <label for="IsActive">الحاله</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="button" class="btn btn-primary me-1 mb-1" onclick="Submit()">
                                            حفظ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
}

@section Scripts
    {

    <partial name="_Scripts" />
}
}