<script>
    $(document).ready(function () {

       LoadTable();
       
    });

    let form = $('#frm');
    function Submit(type) {

        event.preventDefault();

        Save(type);

    }

    function resetForm(){
        $('#Name').val('');
        $('#id').val('');
        $('#companyName').val('');
        $('#Phone').val('');
        $('#Address').val('');
        $('#ProcessAmount').val('');
        $('#ddlProcessType').val('0').trigger('change');
        $('#IsActive').val('true');
        $('#IsActive').prop('checked', true);

    }

    function Save(type) {
        if ($('#Name').val() == '') {
            Swal.fire({
                title: `من فضلك أدخل البيانات الأساسية`,
                timer: 2000,
                timerProgressBar: true,
                icon: 'error',
                showConfirmButton: false
            });
        } else {
            var $preloader = $('#loader');
			$preloader.fadeIn('slow');
            $.post('@Url.GetAction("Save")', form.serialize(), function (res) {
                $preloader.delay(200).fadeOut('slow');
                if (res.Status) {
                    Swal.fire({
                        title: `${res.Message}`,
                        timer: 2000,
                        timerProgressBar: true,
                        icon: 'success',
                        showConfirmButton: false
                    }).then((result) => {
                         if(type==='add'){
                            resetForm();
                        }else{
                            window.location.href = "/People/Supplier/Index";
                        }
                    })
                }
                else {
                    Swal.fire({
                        title: `${res.Message}`,
                        timer: 4000,
                        timerProgressBar: true,
                        icon: 'error',
                        showConfirmButton: false
                    })
                }
            });
        }
    }

    function Delete(e, id) {

        var btn = $(e);
        var id = id;
        Swal.fire({
            title: 'هل أنت متأكد؟',
            text: "هل انت متاكد من اجراء العملية",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'الغاء',
            confirmButtonText: 'نعم ، حذف!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.post('@Url.GetAction("Delete")', { id: id }, function (res) {
                    if (res.Status) {
                        Swal.fire({
                            title: `تم الحذف`,
                            timer: 2000,
                            timerProgressBar: true,
                            icon: 'success',
                            showConfirmButton: false
                        }).then(() => {
                            LoadTable();
                        });
                    }
                    else {

                        Swal.fire({
                            title: `خطأ في الحذف`,
                            timer: 2000,
                            timerProgressBar: true,
                            icon: 'warning',
                            showConfirmButton: false
                        });
                    }
                });

            }
        })

    }

    function LoadTable() {
        $('#tbl').DataTable().destroy();

        dt = $('#tbl').DataTable({
            "columnDefs": [{ "defaultContent": "-", "targets": "_all" }],

            "language": _dataTableTranslate,
            pageLength: 10,
            scrollX: true,
            pagijngType: "full_numbers",
            direction: 'rtl',
            serverSide: true,
            processing: true,
            lengthMenu: [10, 25, 50, 75, 100],
            sAjaxSource: '@Url.GetAction("LoadDataTable")',
            sServerMethod: "POST",
            bPaginate: true,
            paging: true,
            dom: 'Blfrtip',
            buttons: [

            ],
            search: {},
            columns: [
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) { return '<label class="Name">' + (data.Name == null ? "" : data.Name) + '</label><input hidden name="UserId" class="UserId" value="' + (data.ID) + '" /> ' }

                },
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) { return '<label class="companyName">' + (data.companyName == null ? "" : data.companyName) + '</label><input hidden name="companyName" class="companyName" value="' + (data.companyName == null ? "" : data.companyName) + '" /> ' }

                },
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) {
                        return '<label class="Phone">' + (data.Phone == null ? "" : data.Phone) + '</label>  <input hidden name="Phone" class="Phone" value="' + (data.Phone == null ? "" : data.Phone) + '" />'
                    }

                },
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) {
                        return '<label class="Address">' + (data.Address == null ? "" : data.Address) + '</label>  <input hidden name="Address" class="Address" value="' + data.Address + '" />'
                    }

                },
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) {
                        if(data.ProcessType == 1){
                            return '<label class="ProcessType">مدين</label>  <input hidden name="ProcessType" class="ProcessType" value="' + data.ProcessType + '" />'
                        }
                        else if(data.ProcessType == 2){
                        return '<label class="ProcessType">دائن</label>  <input hidden name="ProcessType" class="ProcessType" value="' + data.ProcessType + '" />'

                        }else{
                        return '<label class="ProcessType">غير معرف</label>  <input hidden name="ProcessType" class="ProcessType" value="' + null + '" />'

                        }
                    }

                },
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) {
                        return '<label class="ProcessAmount">' + (data.ProcessAmount == null ? "0" : data.ProcessAmount) + '</label>  <input hidden name="ProcessAmount" class="ProcessAmount" value="' + (data.ProcessAmount == null ? "0" : data.ProcessAmount) + '" />'
                    }

                },
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) { return '<label class="AddedDate">' + (data.AddedDate ?? "") + '</label><input hidden name="groupId" class="groupId" value="' + data.AddedDate + '" /> ' }

                },
                {

                    data: null,
                    bSortable: true,
                    render: function (data, type, row) {

                        return '<label class="align-center  statesact  ' + ((data.IsActive) ? "IsActive badge bg-success" : "IsDeactivate badge bg-danger") + ' "> <span>' + ((data.IsActive) ? "نشط" : "غير نشط") + '</span></label><input hidden class="isActive" value="' + data.IsActive + '" />'

                    }

                },
                {

                    data: null,
                    bSortable: false,
                    render: function (data, type, row) {
                        let btn = `<div class="Event">
    @if (CurrentForm.CurrentFormPermissionActions.EditHasPermission)
    {
                                                                        <a class="btn-icon btn btn-warning btn-sm" href="/People/Supplier/Edit/${data.ID}">
                                                                        <i class="fas fa-pen"></i>

                                                                        </a>

    }
    @if (CurrentForm.CurrentFormPermissionActions.DeleteHasPermission)
    {
                                                                                   <a class="btn-icon btn btn-danger btn-sm" onclick="Delete(this,'${data.ID}')" href="javascript:void(0)">
                                                             <i class="fas fa-trash-alt"></i>

                                                                       </a>
    }
                                               `;
                        return btn + '</div>';
                    }
                }

            ]
        });

    }

    function ProcessTypeChanged(){
        var selected = $('#ddlProcessType').val();
        if(selected=='0'){
            $('#processAmoutDev').hide();
        }else{
            $('#processAmoutDev').show();
        }
    }

    $("#IsActive").change(function (e) {
        var isChecked = $(this).prop("checked");
        $("#IsActive").val(isChecked);
    });

</Script>