

@inject ERP_System.BLL.UserBll _userBll;
@{
    var userid = ViewContext.HttpContext.UserId();
    string userName = string.Empty;
}
<nav class="navbar navbar-top navbar-expand" id="navbarDefault">
    <div class="collapse navbar-collapse justify-content-between">
        <div class="navbar-logo">

            <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
            <a class="navbar-brand me-1 me-sm-3" href="@Url.Action("Index","Home")">
                <div class="d-flex align-items-center">
                    <h2>الرئيسية</h2>
                </div>
            </a>
        </div>

    </div>
</nav>



