@inject ERP_System.BLL.PageBll _pageBll;
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @{
            string pageName = Url.ActionContext.RouteData.Values["controller"].ToString();
            if (Url.ActionContext.RouteData.Values["action"].ToString() == "ChangePassword")
            {
                pageName = (Url.ActionContext.RouteData.Values["action"].ToString());
            }

            if (string.IsNullOrEmpty(_pageBll.GetPageName(pageName)))
                pageName = "نظام المحاسبه ";
            else
            pageName = "نظام المحاسبه - " + _pageBll.GetPageName(pageName);

        }

        @pageName
    </title>
    <link rel="stylesheet" href="~/assets/css/main/app.css">
    <link rel="stylesheet" href="~/new-assets/app.css">
    <link rel="stylesheet" href="~/assets/css/pages/fontawesome.css">

    <link rel="stylesheet" href="~/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/css/pages/datatables.css">
    <script>
       let  mainAppUserId = '@ViewContext.HttpContext.UserId()'
    </script>
</head>
<body dir="rtl">
    <div id="app">

    <vc:aside-bar></vc:aside-bar>
    

    <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">

            @RenderBody()
            </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ERP.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    </div>


    <script src="~/assets/js/bootstrap.js"></script>
    <script src="~/assets/js/app.js"></script>

    //data tables script
    <script src="~/assets/extensions/jquery/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
    <script src="~/assets/js/pages/datatables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
