@inject ERP_System.BLL.PageBll _pageBll;
@inject ERP_System.BLL.Guide.SettingBll _settingBll;
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @{
            string pageName = Url.ActionContext.RouteData.Values["controller"].ToString();
            string siteName = "نظام المحاسبه ";
            var setting = _settingBll.GetSetting();
            if (setting != null)
            {
                siteName = setting.SiteName;
            }

            if (Url.ActionContext.RouteData.Values["action"].ToString() == "ChangePassword")
            {
                pageName = (Url.ActionContext.RouteData.Values["action"].ToString());
            }
           
            if (string.IsNullOrEmpty(_pageBll.GetPageName(pageName)))
                pageName = siteName;
            else
                pageName = siteName +" - " + _pageBll.GetPageName(pageName);

        }

        @pageName
    </title>
    <link rel="stylesheet" href="~/assets/css/main/app.css">
    <link rel="stylesheet" href="~/assets/css/pages/fontawesome.css">
    <link rel="stylesheet" href="~/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/css/pages/datatables.css">
    <link rel="stylesheet" href="~/assets/extensions/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="~/new-assets/app.css">
    <link rel="stylesheet" href="~/assets/css/shared/iconly.css" />
    <link rel="stylesheet" href="~/assets/css/shared/Select2.css" />
    <link rel="stylesheet" href="~/new-assets/loading.css">

    
    <script>
        let mainAppUserId = '@ViewContext.HttpContext.UserId()'
    </script>
</head>
<body dir="rtl">
    <div id="loader">
        <div class="load">
            <hr /><hr /><hr /><hr />
        </div>
    </div>
    <div id="app">

        <vc:aside-bar></vc:aside-bar>
        <div id="main" class="layout-navbar">
            <partial name="_Header" />
            <div class="main-content">
                <div class="page-heading">
                <input hidden id="txtUserId" value="0" />
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>



    <script src="~/assets/js/bootstrap.js"></script>
    <script src="~/assets/js/app.js"></script>

    <script src="~/assets/extensions/jquery/jquery.min.js"></script>
    <script src="~/assets/extensions/jquery/datatables.min.js"></script>
    <script src="~/assets/extensions/jquery/dataTables.responsive.min.js"></script>
    <script src="~/assets/extensions/jquery/select2.min.js"></script>
    <script src="~/assets/extensions/jquery/js.barcode.min.js"></script>
    <script src="~/assets/js/pages/datatables.js"></script>


    <!-- Need: Apexcharts -->
    <script src="~/assets/extensions/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/js/pages/dashboard.js"></script>

    <script>

    </script>
    <script>

        let _dataTableNextText = 'التالي',
            _dataTablePrevText = 'السابق',
            _dataTableSearch = 'بحث',
            _dataTableShowText = 'عرض',
            _dataTableFromText = 'من',
            _dataTableRowsText = 'بيانات',
            _dataTableSearchText = '',
            _dataTableToText = 'الى',
            _dataTableNoDataText = 'لا يوجد بيانات',
            _dataTableLoadingText = 'انتظر';
        let _dataTableTranslate = {
            "oPaginate": {
                "sPrevious": '<i class="fas fa-chevron-right"></i>',
                "sNext": '<i class="fas fa-chevron-left"></i>'
            },
            "Processing": "جاري التحميل...",
            "sLengthMenu": "عرض _MENU_",
            "sZeroRecords": "لم يُعثر على أية سجلات",
            "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مُدخل",
            "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجلّ",
            "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
            "sInfoPostFix": "",
            "sSearch": "<p style='margin-left:5px;cursor: auto;'>بحث<p/>",
            "sSearchPlaceholder": ""


        }
    </script>
    <script src="~/assets/extensions/sweetalert2/sweetalert2.min.js"></script>
    <script>
        $(document).ready(function () {
           var sidbar = $(".sidebar-item");
            sidbar.removeClass("active");
            let pathName = location.pathname.split("/");
            let collapsedArea = location.pathname;
            sidbar.find()
            console.log(collapsedArea);
            pathName.pop();
            pathName = pathName.join("/");
            if (pathName === '') {
                pathName = '/Home/Index';
            }
            let linkT;
            
            $.each($(".sidebar-link"), function () {
                linkT = $(this).attr("href").split("/");
                linkT.pop();
                linkT = linkT.join("/");
                if (linkT === pathName) {
                    $(this).parent().addClass("active");
                }
            })
           
        })

    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(window).on('load', function () {
            var $preloader = $('#loader');
            var ERP_System_UserId = getCookie('App.ERP_System.UserId');
            //$('#txtUserId').val(ERP_System_UserId);
            $preloader.delay(350).fadeOut('slow');
           
            if (ERP_System_UserId === undefined || ERP_System_UserId==='')
            document.location = "/Account/Login";
        });


        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }
        
    </script>
</body>
</html>
