@{
    Layout = "_Layout";
}
@if (CurrentForm.CurrentFormPermissionActions.AddHasPermission)
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">إضافة عميل</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal" id="frm" onsubmit="Submit()">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="Name">الاسم</label>
                                            <input hidden name="id" id="id" value="" class="d-none" />
                                            <input type="text" required id="Name" name="Name" class="form-control" placeholder="الاسم">
                                        </div>
                                    </div>
                                    
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="UserName">اسم المستخدم</label>
                                            <input type="text" value="" id="UserName" name="UserName" class="form-control" placeholder="اسم المستخدم">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="Email">الايميل</label>
                                            <input type="text" required id="Email" name="Email" class="form-control" placeholder="الايميل">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="Password">الباسوورد</label>
                                            <input type="password" value="" id="Password" name="Password" class="form-control" placeholder="الباسوورد">
                                        </div>
                                    </div>
                                   
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="Phone">التليفون</label>
                                            <input type="text" required id="Phone" name="Phone" class="form-control" placeholder="التليفون">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="Address">العنوان</label>
                                            <input type="text" required id="Address" name="Address" class="form-control" placeholder="العنوان">
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex">
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <input type="checkbox" name="IsActive" id="IsActive" value="true" class="form-check-input" checked>
                                                <label for="IsActive">الحاله</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-between mt-5">
                                        <button type="button" class="btn btn-primary me-1 mb-1" onclick="Submit()">
                                            حفظ
                                        </button>

                                        @if (CurrentForm.CurrentFormPermissionActions.ShowHasPermission)
                                        {
                                            <div class="d-flex align-items-center justify-content-end ps-2">
                                                <a class="btn btn-outline-primary" href=`@Url.GetAction("Index")`>
                                                    رجوع للقائمة
                                                    <span class="fa-arrow-left fas"></span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts
    {
    <partial name="_Scripts" />
    }