@{
    Layout = "_Layout";
}
@if (CurrentForm.CurrentFormPermissionActions.AddHasPermission)
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">إضافة عميل</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal" id="frm" onsubmit="Submit('add')">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="Name">اسم العميل<span style="color:red;"> * </span></label>
                                            <input hidden name="id" id="id" value="" class="d-none" />
                                            <input type="text" required id="Name" name="Name" class="form-control" placeholder="الاسم">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="companyName">اسم الشركة</label>
                                            <input type="text" id="companyName" name="companyName" class="form-control" placeholder="اسم الشركة">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="Phone">التليفون</label>
                                            <input type="text"  id="Phone" name="Phone" class="form-control" placeholder="التليفون">
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="Address">العنوان</label>
                                            <input type="text"  id="Address" name="Address" class="form-control" placeholder="العنوان">
                                        </div>
                                    </div>

                                    <div class="form-group col-6">
                                        <label class="lable" for="ProcessType">نوع المعاملة</label>
                                        <select onchange="ProcessTypeChanged()" class="Select sAddress form-select" aria-label="اختر نوع المعاملة" name="ProcessType" id="ddlProcessType">
                                            <option selected value="0">اختر نوع المعاملة</option>
                                            <option value="1">مدين</option>
                                            <option value="2">دائن</option>
                                        </select>
                                    </div>

                                    <div class="col-6 " id="processAmoutDev">
                                        <div class="form-group">
                                            <label for="ProcessAmount">قيمة المعاملة</label>
                                            <input type="number" id="ProcessAmount" step="0.1" class="form-control" min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" name="ProcessAmount" placeholder="قيمة المعاملة" />
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex">
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <input type="checkbox" name="IsActive" id="IsActive" value="true" class="form-check-input" checked>
                                                <label for="IsActive">الحاله</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-between mt-5">
                                        <button type="button" class="btn btn-primary me-1 mb-1" onclick="Submit('add')">
                                            حفظ
                                        </button>

                                        @if (CurrentForm.CurrentFormPermissionActions.ShowHasPermission)
                                        {
                                            <div class="d-flex align-items-center justify-content-end ps-2">
                                                <a class="btn btn-outline-primary" href="/People/Client/Index" >
                                                    رجوع للقائمة
                                                    <span class="fa-arrow-left fas"></span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts
    {
    <partial name="_Scripts" />
    <script>
        $(document).ready(function () {
            $('#processAmoutDev').hide();
        })
    </script>
    }